<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run Node.js processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/wiki/iisnode-configuration-reference

     NOTE: iisnode will process files with the .js, .mjs, .coffee, .litcoffee, and .csx
     extensions and an X-Powered-By HTTP response header will be added with the value "iisnode".
     To disable this, edit the web.config file and change the httpModule value from "iisnode" to
     an empty string.
-->
<configuration>
  <system.webServer>
    <!--
         Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx
         for more information on WebSocket support
    -->
    <webSocket enabled="false" />
    <iisnode>
      <!--Uncomment the below line to disable file watching. This is recommended on production environments since file watching may cause high CPU usage.-->
      <!--<watchedFiles wildcard="*.js">-->
      <!--</watchedFiles>-->

      <!-- Indicates that the iisnode module is being used -->
      <handlers>
        <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
      </handlers>

      <!-- Do not interfere with requests for static files -->
      <rewrite>
        <rules>
          <rule name="StaticContent">
            <action type="Rewrite" url="public{REQUEST_URI}"/>
          </rule>
          <rule name="DynamicContent">
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            </conditions>
            <action type="Rewrite" url="dist/server.js"/>
          </rule>
        </rules>
      </rewrite>

      <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="bin"/>
          </hiddenSegments>
        </requestFiltering>
      </security>

      <!-- Make sure error responses are left untouched -->
      <httpErrors existingResponse="PassThrough" />

      <!--
        See https://github.com/tjanczuk/iisnode/issues/21 for information about how to configure
        iisnode when the Node.js process is hosted behind an IIS proxy
      -->
      <!--<proxy url="http://127.0.0.1:1337" preserveHostHeader="false" /></proxy>-->

      <!-- Uncomment the line below to enable logging individual requests (ex. all requests that were part of a failed Application Request Tracing session). 
      <logicalErrorHandler statusCode="401,403,404,405,406,409,410,415,423,429" path="%home%\LogFiles\nodejs" appendLoggerNameToFileName="false" /></logicalErrorHandler>
      -->
    </iisnode>

    <!-- indicates that the iisnode module is being used -->
    <modules>
      <remove name="WebSocketModule"/>
      <!-- On demand compilation -->
      <add name="iisnode" image="%ProgramFiles%\iisnode\release\x64\iisnode.dll" />
    </modules>

    <!--
    <directoryBrowse enabled="false" />
    -->

    <!--
      By default, the following file extensions are not served.
      Add or remove to this list as desired. For example, to enable
      access to files with .config extensions, just uncomment
      the line below.

      <staticContent>
        <mimeType fileExtension=".config" mimeType="text/plain; charset=utf-8" />
      </staticContent>

      Alternatively, add default headers here and they will be
      applied to every file served.

      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="SAMEORIGIN" />
        </customHeaders>
      </httpProtocol>
    -->
  </system.webServer>
</configuration>
